<div class="tab w-full overflow-hidden border-t">
    <input class="absolute opacity-0" id="tab-multi-three"
        type="checkbox" name="tabs">
    <label class="block p-5 leading-normal cursor-pointer
        text-gray-700
        font-semibold
        bg-gray-500
        font-Aerospace"
        for="tab-multi-three">{{title}}</label>
    <div class="tab-content overflow-hidden border-l-2 bg-gray-100
        border-indigo-500 leading-normal">
        <div class="grid lg:grid-cols-4 gap-4">
            <div *ngFor="let listProduct of listProducts">
                <app-list-products
                    [listProduct]="listProduct"></app-list-products>
            </div>
        </div>
    </div>
</div>
