<div class="bg-gray-200">
    <div class="flex">
        <div class="flex text-gray-700 px-4 py-2 m-2">
            <img class="h-64 w-64"
                src="/assets/Images/CG_Lights_d400.png"
                />
        </div>

        <div class="flex-1 text-gray-700 text-left justify-center px-4 py-2
            m-2">
            <div class="flex text-3xl font-bold m-2">Cybot Galactica</div>
            <div class="flex text-2xl m-2">The Galaxy's Premier Manufacturing
                Corporation</div>
            <div class="flex text-base m-2">
                <div>Founded on Day 200 of Year 6, Cybot
                    Galactica began
                    as a small droid
                    manufacturing corporation focusing on the mass production of
                    a
                    few
                    select
                    models
                    of droids. Today Cybot Galactica is the flagship corporation
                    in
                    The
                    Galactica
                    Group, and as expanded to provide a wide variety of services
                    and
                    products to
                    the
                    public.
                    <br /><br />
                    Producing everything from droids, to ships and vehicles, to
                    weapons,
                    armor
                    and
                    tools, Cybot Galactica is both the primary supplier for the
                    Galactica Group,
                    and
                    one of the main manufacturers of goods for the galactic
                    public.</div>
            </div>
        </div>
    </div>
    <div class="flex">


        <div class="flex-1 text-gray-700 text-left justify-center px-4 py-2
            m-2">
            <div class="flex text-3xl font-bold m-2">Asher I</div>
            <div class="flex text-2xl m-2"></div>
            <div class="flex text-base m-2">
                <div>The largest planet in the Asher system of the Sprizen
                    sector, Asher I is the home to the primary manufacturing
                    hubs of Cybot Galactica. Boasting hundreds of factory
                    complexes, and numerous shipyards in the nearby space, Asher
                    I is one on the largest independent manufacturing hubs in
                    the galaxy.
                </div>
            </div>
        </div>
        <div class="flex text-gray-700 px-4 py-2 m-2">
            <img class="h-64 w-64"
                src="assets/Images/asher.gif"
                />
        </div>
    </div>
    <app-teammembers *ngFor="let teamMember of teamMembers"
        [teamMember]="teamMember"></app-teammembers>
</div>
