<div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
    <div class="px-4 py-2">
        <h1 class="text-gray-900 font-bold text-3xl uppercase">{{listProduct.title}}</h1>
        <p class="text-gray-600 text-sm mt-1 hoverOver truncate ...">{{listProduct.description}}</p>
    </div>
    <img class="h-56 w-full object-cover mt-2"
        src={{listProduct.image}}>
    <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
        <h1 class="text-gray-200 font-bold text-xl">{{listProduct.price}}</h1>
    </div>
</div>
