
<script>
    /* Optional Javascript to close the radio button version by clicking it again */
    var myRadios = document.getElementsByName('tabs');
    var setCheck;
    var x = 0;
    for(x = 0; x < myRadios.length; x++){
        myRadios[x].onclick = function(){
            if(setCheck != this){
                 setCheck = this;
            }else{
                this.checked = false;
                setCheck = null;
        }
        };
    }
 </script>
<div class="w-full mx-auto p-8">
    <div class="shadow-md">
        <div class="tab w-full overflow-hidden border-t">
            <input class="absolute opacity-0" id="tab-multi-one" type="checkbox"
                name="tabs">
            <label class="block p-5 leading-normal cursor-pointer text-gray-700
                font-semibold
                bg-gray-500
                font-Aerospace"
                for="tab-multi-one">Droids</label>
            <div class="tab-content overflow-hidden border-l-2 bg-gray-100
                border-gray-900 leading-normal">
                <div class="grid lg:grid-cols-4 gap-4">
                    <div *ngFor="let droidL of droidList">
                        <app-list-products
                            [listProduct]="droidL"></app-list-products>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab w-full overflow-hidden border-t">
            <input class="absolute opacity-0" id="tab-multi-two"
                type="checkbox"
                name="tabs">
            <label class="block p-5 leading-normal cursor-pointer
                text-gray-700
                font-semibold
                bg-gray-500
                font-Aerospace"
                for="tab-multi-two">Items</label>
            <div class="tab-content overflow-hidden border-l-2 bg-gray-100
                border-indigo-500 leading-normal">
                <p class="p-5"></p>
            </div>
        </div>
        <app-accordian title="Weapons and Armor" [listProducts]="droidList"></app-accordian>
    </div>
</div>
