
<ul class="flex justify-center bg-gray-500">
    <li class="mr-1">
        <button class="inline-block border-1 border-t border-r border-b border-l
            rounded m-1 py-2 px-4 text-gray-700 font-Aerospace font-semibold
            border-gray-700 bg-gray-400 hover:bg-gray-200 hover:shadow-2xl
            justify-center">Droids </button>
    </li>
    <li class="mr-1">
        <button class="inline-block border-1 border-t border-r border-b border-l
            rounded m-1 py-2 px-4 text-gray-700 font-Aerospace font-semibold
            border-gray-700 bg-gray-400 hover:bg-gray-200 hover:shadow-2xl"
            href="#">Items</button>
    </li>
    <li class="mr-1">
        <button class="inline-block border-1 border-t border-r border-b border-l
            rounded m-1 py-2 px-4 text-gray-700 font-Aerospace font-semibold
            border-gray-700 bg-gray-400 hover:bg-gray-200 hover:shadow-2xl"
            href="#">Weapons and Armor</button>
    </li>
    <li class="mr-1">
        <button class="inline-block border-1 border-t border-r border-b border-l
            rounded m-1 py-2 px-4 text-gray-700 font-Aerospace font-semibold
            border-gray-700 bg-gray-400 hover:bg-gray-200 hover:shadow-2xl"
            href="#">Ships</button>
    </li>
    <li class="mr-1">
        <button class="inline-block border-1 border-t border-r border-b border-l
            rounded m-1 py-2 px-4 text-gray-700 font-Aerospace font-semibold
            border-gray-700 bg-gray-400 hover:bg-gray-200 hover:shadow-2xl"
            href="#">Vehicles</button>
    </li>
    <li class="mr-1">
        <button class="inline-block border-1 border-t border-r border-b border-l
            rounded m-1 py-2 px-4 text-gray-700 font-Aerospace font-semibold
            border-gray-700 bg-gray-400 hover:bg-gray-200 hover:shadow-2xl"
            href="#">Special Packages</button>
    </li>
</ul>
<p>products works!</p>
